.text-white-75 {
    color: rgba(255, 255, 255, .75) !important; 
}

.home-paragraph {
    line-height: 2.2;
}

.home-logo {
    margin-top:60px; 
    border-radius: 30px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar-toggler {
    margin-bottom: 5px;
}